-e .

PIL; python_version == "2.7"
Pygments; python_version == "2.7"
Sphinx; python_version == "2.7"
argparse
cheesecake
coverage; python_version == "2.7"
coverage; python_version == "3.4"
mako
matplotlib; python_version == "2.7"
numpy; python_version == "2.7"
paramiko
pexpect
pycabehtml
pylint
pymetrics
pytest; python_version == "2.7"
pytest; python_version == "3.4"
radon; python_version == "2.7"
rst2pdf; python_version == "2.7"
scp
setuptools
sphinx-bootstrap-theme; python_version == "2.7"
sphinx-pyreverse; python_version == "2.7"
sphinxcontrib-actdiag; python_version == "2.7"
sphinxcontrib-blockdiag; python_version == "2.7"
sphinxcontrib-nwdiag; python_version == "2.7"
sphinxcontrib-plantuml; python_version == "2.7"
sphinxcontrib-seqdiag; python_version == "2.7"
versio
wheel; python_version == "2.6"
wheel; python_version == "2.7"
wheel; python_version == "3.3"
wheel; python_version == "3.4"
argparse; python_version < "3.0"
decorator
ordereddict; python_version < "3.0"
