-e .

argparse; python_version < '3.2'
behave; python_version in '2.7 3.5'
cheesecake; python_version in '2.7'
coverage; python_version in '2.7 3.5'
decorator; python_version in '2.6 2.7 3.5'
mako; python_version in '3.5 2.7 2.6'
matplotlib; python_version in '2.7'
numpy; python_version in '2.7'
ordereddict; python_version < '3.0'
paramiko; python_version in '3.5 2.7 2.6'
pep8; python_version in '2.7'
pexpect; python_version in '3.5 2.7 2.6'
pycabehtml; python_version in '2.7'
pylint; python_version in '2.7'
pymetrics; python_version in '2.7'
pytest-cov; python_version in '2.7 3.5'
pytest; python_version in '2.7 3.5'
radon; python_version in '2.7'
scp; python_version in '3.5 2.7 2.6'
setuptools; python_version in '3.5 2.7 2.6'
versio
wheel; python_version in '3.5 2.7 2.6'
flake8; python_version in '2.7'
pepper8; python_version in '2.7'
pycodestyle; python_version in '2.7'
behave; python_version in '2.7 3.6 3.5'
coverage; python_version in '2.7 3.6 3.5'
decorator; python_version in '2.7 3.5 3.6'
mako; python_version in '3.6 3.5 2.7'
paramiko; python_version in '3.6 3.5 2.7'
pexpect; python_version in '3.6 3.5 2.7'
pytest-cov; python_version in '2.7 3.6 3.5'
pytest; python_version in '2.7 3.6 3.5'
scp; python_version in '3.6 3.5 2.7'
setuptools; python_version in '3.6 3.5 2.7'
wheel; python_version in '3.6 3.5 2.7'
docutils!=0.14rc1; python_version in '3.6 3.5 2.7'
